/* the styles for the elements */
* {
    margin: 0;
    padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%;
    max-width: 960px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
    background-color: #fbeec1;
    height: 100%;
    position: relative;
    box-shadow: 1px 1px 15px 9px black;
}
html {
    background-color: white;
}
/* the styles for the header */
header {
    border-bottom: solid 3px black;
    padding-top: 1.5em;
    padding-bottom: 6em;
    padding-left: 1em;
    background-image: url(../images/sky.jpeg);
    background-position: right;
}
header h2 {
    position: relative;
    font-size:170%;
    color: rgb(250, 255, 100);
    float: left;
    padding-top: 2.75%;
    font-size: 200%;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
}
header img {
    position: relative;
    float: left;
    padding-left: 2.75%;
    padding-right: 5.75%;
}
.clouds {
    z-index: -;
    position: absolute;
    margin: auto;
    height: 30px;
    width: 30px;
    animation-iteration-count: infinite;
}
#cloud1 {
    animation-timing-function: linear;
    animation-name: right;
    animation-duration: 32s;
    top: -10px;
}
#cloud2 {
    animation-timing-function: linear;
    animation-name: left;
    animation-duration: 30s;
    top: 10px
}
#cloud3 {
    animation-timing-function: linear;
    animation-name: left;
    animation-duration: 40s;
    top: 50px
}
#cloud4 {
    animation-timing-function: linear;
    animation-name: right;
    animation-duration: 48s;
    top: 35px;
}
@keyframes right {
    0% {
        left: 0%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        left: 60%;
    }
    75% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        left: 90%;
        opacity: 0;
    }
}
@keyframes left {
    0% {
        right: 0%;
        opacity: 0;
    }
    7% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        right: 60%;
    }
    85% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        right: 100%;
        opacity: 0%;
    }
}
/* the styles for the navigation menu */
.slicknav_menu {
    display: none;
}
#moblie_menu {
    display: block;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    width: 100%;
}
nav ul li {
    float: left;
    position: relative;
    width: 20%;
}
nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    background-color: #7d8c41;
    color: white;
    text-shadow: 3px 3px 6px black;
    font-weight: bold;
    position: relative;
    background-image: url(../images/grass.jpeg);
    background-position: bottom;
}
nav ul li a:hover {
    background-image: url(../images/grass.jpeg);
    background-position: center;
}
.current {
    color: yellow;
    text-shadow: 3px 3px 6px black;
    font-weight: bold;
    background-image: url(../images/grass.jpeg);
    background-position: center;
}
.dropdown {
    display: inline-block;
    float: none;
    width: 100%;
}
.dropdown-content {
    display: none;
    float: none;
    position: absolute;
    width: 100%;
}
.dropdown-content ul {
    width: 100%;
}
.dropdown-content ul li{
    width: 100%;
}
.dropdown:hover .dropdown-content {
    display: block;
    float: none;
}
main {
    padding-top: 4em;
}
main img {
  box-shadow: 0px 0px 10px 10px black;
}
/* the styles for the section */
section {
    width: 65.623%;
    float: right;
    padding-left: .5%;
    padding-right: 4.5%;
    padding-bottom: 50px;
    clear: right;
}
section article {
    border-bottom: solid 3px black;
    padding-bottom: 1em
}
section h2 {
    font-size: 130%;
    padding-bottom: .5em;
    padding-top: .5em;
}
section h2:hover {
    color: rgb(0, 50, 255);
    font-weight: bold;
    text-shadow: 3px 3px 6px white;
}
section img {
    margin: 10em;
}
section figure img {
    float: right;
    border: solid 5px black;
    border-radius: 5px;
    margin: 1em;
    margin-top: 1em;
}
section figure figcaption {
    float: right;
    text-align: center;
    margin-right: 6em;
    margin-left: 6em;
    margin-bottom: 5em;
}
.description-list dt {
  font-weight: bold;
}
.description-list dd {
  margin-bottom: 1em;
}
/* the styles for the aside */
aside {
    width: 26.875%;
    padding-left: 1.5%;
    padding-bottom: 20px;
    padding-right: 400px;
}
aside h2 {
    font-size: 130%;
    padding-top: .5em
}
aside ul {
    padding-left: 1em;
    padding-bottom: 3em;
}
aside li {
    padding-top: .5em;
}
aside a {
    text-decoration: none;
}
iframe {
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px black;
    margin-top: 3em;
    margin-bottom: 1em;
}
#info {
  margin-left: .5em;
}
/* the styles for the footer */
footer p {
    text-align: center;
    background-color: #bc9161;
    font-weight: bold;
    color: rgb(250, 255, 20);
    text-shadow: 2px 2px 1px black;
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both;
    background-image: url(../images/soil2.jpeg);
    background-position: bottom;
}
/* phone landscape layout */
@media only screen and (max-width: 767px) {
    main {
      margin-left: 1em;
    }
    header img {
        float: none;
    }
    header h2 {
        float: none;
    }
    header {
        text-align: center;
        padding-bottom: 2em
    }
    section {
        float: none;
        width: 95%;
        padding-bottom: 4em;
        padding-left: .75em
    }
    section img {
        max-width: 100%;
        width: auto;
        padding-bottom: 0;
    }
    section p {
        padding-bottom: 1em;
    }
    aside {
        float: none;
        padding-right: 2.5%;
        width: 95%;
    }
    nav ul li a{
        display: none;
    }
    .slicknav_menu {
        display: block;
        float: none;
        background-color: green !important;
    }
    .slicknav_nav a {
        background-image: none;
        background-color: green;
    }
    .slicknav_nav li {
    }
    #mobile_menu {
      margin: 0;
      padding: 0;
    }
    #mobile_menu ul {
      margin: 0;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    #mobile_menu li {
      margin: 0;
      padding: 0;
    }
    #mobile_menu a {
      padding: 0;
      margin: 0;
    }
    aside iframe {
      display: block;
      right: 0px;
      width: 200px;
      height: 210px;
      margin-right: 4em;
      float: right;
      position: absolute;
      bottom: 100px;
    }
}
/* phone portrait layout */
@media only screen and (max-width: 479px) {
    body {
        font-size: 90%;
    }
    nav ul li a{
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    #mobile_menu {
        display: block;
    }
    #mobile_menu a {
      font-size: 75%;
    }
    .slicknav_menu {
        display: block;
        float: none;
    }
    .slicknav_nav a {
        display: inline-block;
        float: right;
    }
    section img {
      max-width: 100%;
      height: auto;
      width: auto;
      margin: auto;
      padding: auto;
    }
    section figure img {
      float: none;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
    }
    section figure figcaption {
      float: none;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    aside h2 {
      font-size: 130%;
      text-align: center;
      margin: auto;
      padding: auto;
    }
    aside ul {
      font-size: 100%;
      display: table;
      margin: 0 auto;
      position: relative;
      margin-bottom: 6em;
    }
    aside iframe {
      max-width: 100%;
      width: auto;
      margin: auto;
      position: relative;
      margin-bottom: 0;
      padding: auto;
      float: none;
    }
}
